@import url("reset.css");

body {
    background-color: #F0ECE3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.canvas {
    width: 600px;
    height: 600px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 20px #C7B198;
}

.controller {
    margin-top: 20px;
}

.controller__range {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.controller__range .range {
    width: 300px;
}

.controller__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.controller__buttons .button {
    all: unset;
    background-color: white;
    width: 60px;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 10px #C7B198;
}

.controller__buttons > #mode, #others {
    margin: 0 5px;
}

.controller__buttons .button:hover {
    background-color: #555;
    color: #fff;
}

.controller__buttons #others:hover > .button {
    background-color: #555;
    color: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.controller__buttons .button__more {
    position: relative;
}

.controller__buttons .button__more .more__menu {
    all: unset;
    display: none;
    position: absolute;
    z-index: 1;
    width: 60px;
    left: 0px;
    bottom: 35px;
    background-color: #555;
    color: #fff;
    animation: more_menu 300ms forwards ease-in;
    transform-origin: bottom;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.controller__buttons .button__more:hover .more__menu {
    display: block;
}

@keyframes more_menu {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

.more__menu .menu__items {
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.controller__buttons #fileopen {
    display: none;
}

.controller__palette {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.controller__palette .color {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin: 0 5px;
    box-shadow: 0 2px 10px #C7B198;
}

.controller__palette .color:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.selected {
    transform: scale(1.1);
    border: 2px solid #fff;
}

.controller__palette #colorpicker {
    all: unset;
    width: 20px;
    height: 30px;
    border: 1px solid #fff;
    margin: 0 5px;
}

@media screen and (max-width: 680px) {
    .canvas-wrapper {
        position: relative;
        width: 100%;
        height: 0;
        overflow: hidden;
        padding-bottom: 100%;
        margin-top: 20px;
    }

    .canvas {
        position: absolute;
        width: 95%;
        height: 95%;
    }

    .controller {
        width: 90%;
        margin-top: 0;
    }

    .palette {
        margin-top: 20px;
    }
}